$pageMargin: 50px;

.g-page-home {
    position: absolute;
    top: $pageMargin;
    right: $pageMargin;
    bottom: $pageMargin;
    left: $pageMargin;
    display: flex;
    border: #e5e5e5 solid 1px;
    overflow: hidden;

    .content-main {
        flex: 1;
        padding: 20px;
        
        .title{
            overflow: hidden;

            .btn-add{
                float: right;
                background: rgb(47, 112, 177);
                color: #fff;
                font-size: 16px;
                border-radius: 4px;
                padding: 8px 20px;
                cursor: pointer;
            }
        }

        .items{
            margin-top: 20px;

            .item{
                padding: 5px 10px;
            }
        }
    }
}
