.m-month {
    width: 10%;
    height: 100%;
    border-right: #e5e5e5 solid 1px;

    .item {
        text-align: center;
        line-height: 40px;
        color: #333;
        font-size: 15px;
        border-bottom: #e5e5e5 solid 1px;
    }
}
